.calc {
    margin: 200px auto;
    display: grid;
    height: 500px;
    width: 350px;
    grid-template-areas: 
        "display display display display"
        "clear clear clear divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "zero zero equals equals";
    gap: 7px;
    border-radius: 10%; 
    border-color: black;
    border-style: solid;
    border-width: 5px;
    padding: 15px;
    background-color: blue;
}

.input { 
    grid-area: display;
    border-width: 2px;
    border-color: gray; 
    border-style: solid;
    border-radius: 15%;
    height: 35px;
    margin: auto 0;
    text-align: right;
    font-size: x-large;
    padding: 15px;
    background-color: azure;
}

#clear { grid-area: clear; }
#divide { grid-area: divide; }
#seven { grid-area: seven; }
#eight { grid-area: eight; }
#nine { grid-area: nine; }
#multiply { grid-area: multiply; }
#four { grid-area: four; }
#five { grid-area: five; }
#six { grid-area: six; }
#subtract { grid-area: subtract; }
#one { grid-area: one; }
#two { grid-area: two; }
#three { grid-area: three; }
#add { grid-area: add; }
#zero { grid-area: zero; }
#equals { grid-area: equals; }

.button {
    background-color: grey;
    border-radius: 25%;
    text-align: center;
    padding-top: 25px;
    font-size: x-large;
    font-weight: bold;
    border-style: inset;
    border-width: 2px;
    border-color: black;
}


